body {
    background-color: #666;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
    font-family: 'Press Start 2P', cursive;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

container {
    width: 1080px;
    height: 720px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

ground {
    background-image: url("../images/floor.jpg");
    background-repeat: repeat;
    z-index: -9;
    position: fixed;
}

catapult {
    background-image: url("../images/catapult.png");
    z-index: 1;
}

character {
    background-image: url("../images/character.png");
    background-size: cover;
}

background {
    background-image: url("../images/background.jpg");
    background-repeat: repeat-x;
    z-index: -10;
}

fuel {
    background-image: url("../images/fuel.png");
    background-repeat: repeat;
    z-index: 1;
}

shield {
    background-image: url("../images/shield.png");
    background-size: cover;
    /*z-index: 1;*/
}

chopper {
    background-image: url("../images/propellercap.png");
    background-size: cover;
    /*z-index: 1;*/
}

wings {
    background-image: url("../images/wings.png");
    background-size: cover;
    /*z-index: 1;*/
}